xmlDTD/function.dtd

<!-- function -->
<!ELEMENT function (row*)>


<!-- row -->
<!ELEMENT row  (name, 
                type_returned, 
                source)
> 
<!ATTLIST row 
    number          ID       #REQUIRED
>


<!-- atomic values -->
<!ELEMENT name           (#PCDATA) > 
<!ELEMENT source         (#PCDATA) > 
<!ELEMENT type_returned  (#PCDATA) > 






